<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Last Guestbook Messages</h3>
    </div>
    <div class="panel-body">
        {% for message in messages %}
            <div class="raw">
                <a href="{{ path('gh_guestbook_message_show', { 'id': message.id }) }}">{{ message.message|truncate_word(80, '...') }}</a>
            </div>
        {% endfor %}
    </div>
</div>