<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Last Guestbook Messages</h3>
    </div>
    <div class="panel-body">
        {% for message in messages %}
            <div class="raw">{{ message.message|truncate_word(80, '...') }}</div>
        {% endfor %}
    </div>
</div>