html, body {
    height: 100%;
}

body {
    padding-top: 71px;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -50px;
    padding: 0 0 50px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    background: #f5f5f5;
}

.product-list .item {
    padding: 15px;
}

.pagination {
    text-align: center;
    margin: 10px 0;
}

.create-message-form textarea {
    resize: none;
}

.block {
    display: block;
}

.search {
    line-height: 50px;
}